<h1><center><u>About Page</u></center></h1>


<h3><center>Travel the world without others deciding when, how, and with whom you travel. MAT21, a private aviation management company, has tailored its services so that travel is not only convenient and efficient, but luxurious and enjoyable as well. 
    As a private aviation management company, we provide aircraft maintenance, pilots, flight attendants, catering, personal attendants, hotel accommodations, and grounds transportation. Additionally, MAT21 maintains and ensures FAA regulatory compliance.</center></h3>



    <a href="{% url 'home' %}">Home Page</a>